<h2>Create New Landmark</h2>


<form method="post" action="/landmarks">
Enter new landmark name: <input type="text" name="landmark[name]" value="change me please" id="landmark_name">
Enter new landmark year: <input type="text" name="landmark[year_completed]" value="change me 2" id="landmark_year_completed">

<br><br>

<h3>Titles</h3>
<!-- add content here -->

<h3>Create New Title:</h3>
<!-- add content here -->

<h3>Figures</h3>
<!-- add boxes for all landmarks -->

<h3>Create New Figure:</h3>
<!-- add content here -->
<input type="submit" value="Create New Landmark">
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
