<table>
  <tr>
    <th>Name</th>
    <th>Titles</th>
    <th>Landmarks</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td><% @figure.titles.each do |t| %></td>
      <%= t.name %>
      <% end %>
    <td><% @figure.landmarks.each do |l| %></td>
      <%= l.name %>
      <% end %>
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>